.title{
    display: flex;
    justify-content: center;
}
.image_grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.image-card{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 300px;

}
.image-card:hover{
    box-shadow: 0 8px 10px blue;
}
.image-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}
button{
    background-color: rgb(206, 11, 11);
    color: aquamarine;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}
.No-images{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-style: oblique;
    
}